# Ignore virtual environment
.venv/

# Ignore PyCharm project settings
.idea/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore log files
logs/*.log

# Ignore all input file
input/*

config.json

data/